.layout {
  background-color: hsl(193.93deg 71.79% 69.41%);
  padding: 2rem;
}

.layout__border {
  border: 5px solid hsl(141.87deg 99.02% 40.2%);
  padding: 4rem;
}

.text {
  color: white;
}

.text--centered {
  text-align: center;
}

.text__h1 {
  font-size: 4rem;
  font-style: italic;
  font-family: serif;
}

.text__h2 {
  font-size: 3rem;
  font-family: sans-serif;
}

.text__body {
  font-size: 1.5rem;
}

/* layout__image
float right
*/

/* nav center*/
/* nav__group remove ul dots*/
/* nav__link font size 

hover/focus: green or green border
after: add pipe between each link thats not last-child
*/

/* text__link link behavior */
