/* TODO: Add css variables for colors. */

.layout {
  background-color: hsl(193.93deg 71.79% 69.41%);
  padding: 6rem;
}

.layout__border {
  border: 5px solid hsl(141.87deg 99.02% 40.2%);
  padding: 4rem;
}

.text {
  color: hsl(0deg 0% 100%);
}

.text__h1 {
  font-family: serif;
  font-size: 4rem;
  font-style: italic;
}

.text__h2 {
  font-family: sans-serif;
  font-size: 3rem;
}

.text__body {
  font-size: 1.5rem;
}

.nav {
  font-family: sans-serif;
  font-size: 1.8rem;
  padding-block: 2rem;
  text-align: center;
  font-weight: bold;
}

.nav__group {
  list-style-type: none;
}

.nav__link {
  display: inline-block;
  padding-inline-end: 0.5rem;
}

.nav__link:not(:last-child)::after {
  color: hsl(187.5deg 3.25% 51.76%);
  content: " |";
}

.nav__link a {
  color: hsl(141.87deg 99.02% 40.2%);
}

/* layout__image
float right
*/

/* text__link link behavior */
/* hover/focus: green or green border */
